# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
/build

# debug / logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (NUNCA commitar — contêm chaves secretas tipo PAGOUAI_SECRET_KEY)
.env
.env.local
.env.*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
